kbd {
  font-family: "Droid Sans Mono", "Luxi Mono", "Inconsolata", monospace
}

samp {
  font-family: "Terminus", "Courier", "Lucida Console", monospace
}

/*u { text-decoration: none }*/

.nested {
  margin-left: 3em;
}

/*aside, u { opacity: 0.7 }*/

a[id^="fn-"]:target { background: #ff0 }

body, p {
  font-size:            12pt;
}

pre {
  border-width:         2px;
  border-style:         solid;
  border-color:         #006000;
  padding:              2px 0 1px 5px;
  color:                #00501e;
  box-shadow:           16px 6px 4px #aaafaa;
  border-radius:        4px;
  page-break-inside:    avoid;

  font-family:          FreeMono;
  font-size:            11pt;
}

pre.pod-block-code {
  background-color:     #eaefea;
  font-family:          FreeMono;
  font-size:            11pt;
}

pre.prettyprint {
  background-color:     #eaefea;
  font-family:          FreeMono;
  font-size:            11pt;
}

table {
  width:                95%;
  margin-left:          auto;
  margin-right:         auto;
}

td {
  vertical-align:       top;
}

td.toc-number {
  font-size:            12pt;
/*  text-align:           right;
*/
}

tr.toc-level-1 tr.toc-level-2 tr.toc-level-3 tr.toc-level-4 tr.toc-level-5 tr.toc-level-6 {
  font-size:            12pt;
/*  text-align:           right;
*/
}

div.title {
  border-width:         1px;
  border-style:         solid;
  border-color:         #006000;
  height:               50px;
  font-size:            22pt;
  font-weight:          bold;
  padding-left:         4px;
  padding-top:          18px;
  background-color:     #c0e472;
/*  background-image:     url("https://docs.perl6.org/images/Camelia.svg");
*/
  background-repeat:    no-repeat;
  background-position:  7px 0px;
  background-size:      45px;
  box-shadow:           10px 10px 5px #a0b060;
  border-radius:        7px;
}

div.title img {
  width:                45px;
  height:               45px;
  padding-top:          4px;
  padding-right:        4px;
}

p.subtitle {
  font-size:            16pt;
  font-weight:          bold;
}

#TOC_Title {
  font-size:            14pt;
  font-weight:          bold;
}

h1 {
  font-size:            18pt;
  font-weight:          bold;
}

h2 {
  font-size:            16pt;
  font-weight:          bold;
}

h3 {
  font-size:            14pt;
  font-weight:          bold;
}

h4 h5 h6 {
  font-size:            14pt;
}

td.toc-text {
  font-size:            12pt;
/*  text-align:           right;
*/
}

/* Adjust the google settings for linenumber padding */
ol.linenums {
  padding:              0;
}

table.pod-table {
  border-style:         solid;
  border-color:         #006000;
  border-width:         1px;
  box-shadow:           10px 10px 5px #a0b060;
  background-size:      45px;
  border-radius:        7px;
  margin-bottom:        15px;
  page-break-inside:    avoid;
  font-size:            15pt;
}

table.pod-table tr:nth-child(even) {
  background-color:     #e0ffe0;
  border-width:         1px;
}

table.pod-table tr th {
  background:           #c0e472;
}

a {
  color:                blue;
  text-decoration:      none;
}

a:hover {
  color:                blue;
  text-decoration:      underline;
}

a.u {
  color:                #607f00;
  text-decoration:      none;
}


a.u:hover {
  color:                #607f00;
  text-decoration:      underline;
}

code {
  color:                #208072;
/*  font-size:            12pt;*/
}

u {
  color:                #208072;
  text-decoration:      underline #208072 initial !important;
}

b {
  color:                #208072;
  font-weight:          bold;
}

.footer {
  right:                0;
  left:                 0;
  padding:              2px 5px 0 0;
  margin-bottom:        3px;
  background-color:     #c0e472;
  font-size:            10pt;
  text-align:           right;
  box-shadow:           6px 6px 4px #a0b060;
  border-radius:        4px;
  border-width:         1px;
  border-style:         solid;
  border-color:         #006000;
}
